<p-card [style]="{ maxWidth: '250px', height: '430px' }" class="card">
  <ng-template pTemplate="header">
    <img alt="Card" [src]="product.image" />
  </ng-template>
  <ng-template #title> {{ product.name }}</ng-template>

  <p>Price: {{ product.price }}</p>
  <p-rating [(ngModel)]="product.rating" [readonly]="true" />

  <ng-template pTemplate="footer">
    <div class="button-container flex gap-3 mt-1">
      <p-button
        label="Edit"
        severity="secondary"
        class="w-full"
        styleClass="w-full"
        (onClick)="showEditProductModal()"
      />
      <p-button label="Delete" class="w-full" styleClass="w-full" (onClick)="showDeleteModal()" />
      <app-modal
        [product]="selectedProduct"
        [visible]="editProductModalVisible"
        (visibleChange)="editProductModalVisible = false"
        title="Edit product"
        [isEdition]="isEdition"
        (saved)="emitSaved()"
      ></app-modal>
    </div>
  </ng-template>

  <p-dialog
    header="Delete item"
    [modal]="true"
    [(visible)]="deleteModalVisible"
    [style]="{ width: '25rem' }"
    (onHide)="closeDeleteModal()"
  >
    <p class="delete-message">Are you sure you want delete this item?</p>

    <div class="button-container flex justify-end gap-4">
      <p-button label="Cancel" severity="secondary" (onClick)="closeDeleteModal()" />
      <p-button label="Delete" (onClick)="deleteProduct()" />
    </div>
  </p-dialog>
</p-card>
