img {
  max-width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.button-container {
  display: flex;
  gap: 5px;
}

.delete-message {
  margin-bottom: 1rem;
}


.p-card-title {
  border: 1px solid red !important;
}
