/* You can add global styles to this file, and also import other style files */
html,
body,
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family:
    'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
    sans-serif;
}

.p-card-title {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
